*{
    margin: 0;
    padding: 0;
}

.subscribed_wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.subscribed_wrapper .title{
    margin-top: 5em;
    font-family: monospace;
    font-weight: 900;
    font-size: 2em;
    color: rgb(21, 21, 185);
}

.subscribed_wrapper img{
    width: 400px;
    height: 400px;
}

.subscribed_wrapper .say{
    font-family: monospace;
    padding: 8em;
    font-weight: 700;
    font-size: large;
    color: rgb(20, 20, 136);
}

@media screen and (max-width: 796px){
    .subscribed_wrapper img{
        width: 250px;
        height: 250px;
    }

    .subscribed_wrapper .title{
        margin-top: 1em;
        font-family: monospace;
        font-weight: 900;
        font-size: 2em;
        color: rgb(20, 20, 136);
        text-align: center;
        padding: 1em;
    }

    .subscribed_wrapper .say{
        font-family: monospace;
        padding: 2em;
        font-weight: 700;
        font-size: large;
        text-align: center;
        color: rgb(20, 20, 136);
    }
}